streamlit
langchain
langchain-community
langchain-text-splitters
langchain-groq

llama-parse
llama-index-core
llama-index-embeddings-openai
llama-index-embeddings-huggingface
llama-index-vector-stores-lancedb

lancedb
faiss-cpu

sentence-transformers
transformers
torch

openai
numpy
pandas
tqdm
pypdf
python-dotenv
requests
llama-index-llms-openai
