llama-parse 
llama-index-core
llama-index-embeddings-openai
llama-index-vector-stores-lancedb
lancedb
openai
numpy 
pandas
tqdm 
llama-index-embeddings-huggingface 
transformers
sentence-transformers
torch
llama-parse
llama-index-core
llama-index-embeddings-openai
llama-index-vector-stores-lancedb
llama-index-embeddings-huggingface
lancedb
openai
numpy
pandas
tqdm
transformers
sentence-transformers
torch
langchain
langchain-community
langchain-text-splitters
